<button type="button" ...attributes {{on "click" (fn @toggleMenu)}}>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <p>Menu</p>
  {{/if}}
</button>

{{!-- {{#if this.value}} --}}
{{!--   {{@value}} --}}
{{!-- {{/if}} --}}
{{!-- <div> --}}
{{!--   {{#if @loading}} --}}
{{!--     <svg class="animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"> --}}
{{!--       <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" /> --}}
{{!--     </svg> --}}
{{!--   {{else}} --}}
{{!--     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"> --}}
{{!--       {{#if this.showMenu}} --}}
{{!--         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" /> --}}
{{!--       {{else}} --}}
{{!--         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" /> --}}
{{!--       {{/if}} --}}
{{!--     </svg> --}}
{{!--   {{/if}} --}}
{{!-- </div> --}}
{{!-- {{#if this.showMenu}} --}}
{{!--   {{yield}} --}}
{{!-- {{/if}} --}}
